html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 50rem;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
nav ul {
    border-style: solid;
    border-width: 2px 0 2px 0;
    padding: 0.5rem;
    border-top-color: #DA0090;
    border-bottom-color: #A51F10;
}
nav li {
    border: 0px solid green;
    margin: 1rem;
    list-style-type: none;
    display: inline;
    color: #A51F10;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightheader {
    margin-left: 1.5rem;
}
.rightheader h1{
    font-weight: bold;
    color: #DA0090;
}
.rightheader p {
    margin-top: -1rem;
    font-size: 0.8rem;
    text-align: left;
}
article {
    display: flex;
    margin: 1rem 0 1rem 0;
    border: 0px solid purple;
}
footer {
    margin-top: 0.2rem;
    border-top: 2px solid #A51F10;
    text-align: center;
}
footer li {
    list-style-type: none;
    display: inline-block;
}
section {
    border: 0px solid red;
    margin-top: 3rem;
    border-bottom: 2px solid #DA0090;
    font-size: 0.8rem;
}
.leftcontent img {
    border-radius: 1rem;
    border: 0px solid green;
}
.rightcontent {
    text-align: left;
    margin-left: 2rem;
    border: 0px solid blue;
}
.rightcontent h2 {
    font-size: 1.7rem;
}